<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Page Header
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Groups</a></li>
      <li class="active"></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <h4><%= @group["name"] %></h4>
    <h4><%= @group["created_at"] %></h4>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
